<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>AIuda: Unidad IV</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/header.ejs'); %>

    <div class="ancho-100 d-flex flex-column centro-horizontal">
        <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
            <h1 class="color-violeta texto-enorme p-abajo-30">4. Aplicaciones con técnicas de la Inteligencia Artificial</h1>

            <h2 class="color-blanco texto-grande">4.1. Robótica</h2>
            <h2 class="color-blanco texto-grande p-arriba-30">4.1.2. Clasificación</h2>

            <p class="p-arriba-10 color-blanco texto-justificado"> Según el sitio de Euroinnova (2022) la robótica se puede clasificar del siguiente modo:
                <a class="referencia-violeta" href="#fuente4-1" onclick="cambiarColor('fuente4-1', 'color-violeta')">1</a></p>

            <h2 class="color-blanco texto-grande p-arriba-30">Clasificación cronológica</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">
                Los robots se clasifican según su generación, encontrando las siguientes: <br><br>
                <ul class="p-izquierda-30 color-blanco">
                    <li class="p-abajo-10"><b>Primera Generación:</b> Robots manipuladores.</li>
                    <li class="p-abajo-10"><b>Segunda Generación:</b> En aprendizaje.</li>
                    <li class="p-abajo-10"><b>Cuarta Generación:</b> Robots móviles</li>
                    <li class="p-abajo-10"><b>Quinta Generación:</b> Robots inteligentes.</li>
                </ul>
            </p>

            <div class="p-izquierda-30 ">
                <h3 class="color-blanco p-arriba-30">Primera generación:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    La primera generación engloba los robots manipuladores, que son aquellos que 
                    repiten una o varias tareas de manera programada
                    bajo un software, en secuencia. Estos no toman en consideración las alteraciones que se presenten en su entorno, 
                    además son utilizados a nivel industrial. <br><br>
                    Sus sistemas mecánicos están hechos bajo estructuras muy sencillas, 
                    aplicadas en oficios secuenciales que solo necesiten el movimiento continuo de unas pocas
                    piezas. Generalmente son dirigidas a la distancia por un operador humano y reemplazan muchas manos humanas.
                </p>
    
                <h3 class="color-blanco p-arriba-30">Segunda generación:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Dentro de la clasificación de los robots de segunda generación, se encuentran los que realizan tareas luego de aprender los movimientos que ejecutan los operadores humanos.
                    A pesar de utilizar una tecnología más avanzada, los movimientos de este tipo de robots también se realizan en consecuencia.
                </p>
                <h3 class="color-blanco p-arriba-30">Tercera generación:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Los robots de tercera generación son reprogramables mediante ordenadores y tienen sensores artificiales 
                    y piezas para visión y tacto a través de la programación. <br><br>
                    También se les conoce como robots con control sensorizado y 
                    son utilizados en áreas donde se realizan múltiples tareas, ya que pueden ser controlados por humanos según las necesidades.
                </p>
                <h3 class="color-blanco p-arriba-30">Cuarta generación:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Los robots de cuarta generación son robots móviles con inteligencia artificial, 
                    sensores y capacidad de toma de decisiones en tiempo real. 
                    Se utilizan en tareas que requieren realizar múltiples actividades 
                    y tomar decisiones como los humanos.
                </p>
                <h3 class="color-blanco p-arriba-30">Quinta generación:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    En la quinta generación de robots se encuentran máquinas con alta inteligencia artificial y sistemas mecánicos autónomos 
                    para diversas tareas. Estas máquinas tienen capacidad de desplazamiento 
                    con ruedas o piernas artificiales, y son útiles en áreas como construcción,
                     manufactura y diseño.
                </p>
            </div>
            <div style="text-align:center;">
                <img class="ancho-40 alto-40 p-20 borde-blanco"src="../../img/robot2.jpg" alt="ROBOT3">
            </div>
            <h2 class="color-blanco texto-grande p-arriba-30">Clasificación según su función</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">
             En el sitio de Euroinnova se puede encontrar de igual modo una clasificación según el entorno en el que se conducen la funcionalidades de los robots
             <a class="referencia-violeta" href="#fuente4-1" onclick="cambiarColor('fuente4-1', 'color-violeta')">1</a>
            </p>
            
            <div class="p-izquierda-30">
                <h3 class="color-blanco p-arriba-30">Militares:</h3>
                 <p class="p-arriba-10 color-blanco texto-justificado">
                tienen la posibilidad de demostrar una morfología u otra. Son utilizados como auxiliares en las operaciones militares llevadas a cabo por ejércitos. Puede tratarse de robots que 
                transporten material o robots controlados por control remoto, rastreadores, artificieros, etc.
                 </p>
                <h3 class="color-blanco p-arriba-30">Industriales:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                Creados para usar puestos de trabajo en las etapas de producción industrial. Principalmente hacen manipulaciones automáticas y específicas en procesos complicados y periódicos. 
                </p>
                <h3 class="color-blanco p-arriba-30">Sector servicios:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                Acostumbran ser dispositivos móviles autónomos controlables por medio de PCs. Sus primordiales funcionalidades son la ayuda a personas en trabajos bastante repetitivos, así como los peligrosos o más sucios. 
                </p>

                <h3 class="color-blanco p-arriba-30">Robots de Investigación:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                Son usados para examinar y explorar en diferentes espacios. La categorización de los robots de esta clase está compuesta por automatismos oruga o con cadenas, robots submarinos y aéreos entre otros.
                </p>
                <h3 class="color-blanco p-arriba-30">Robots domésticos:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                Facilitan o hacen las labores de aseo y mantenimiento del hogar. Sus funcionalidades son rutinarias. Esta subcategoría además comprende los robots con otras funcionalidades. 
                </p>
                <h3 class="color-blanco p-arriba-30">Robots estudiosos:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                Son utilizados primordialmente en laboratorios. Son conjuntos bastante concretos e inclusive es habitual que sean proyectos de indagación propios.  
                </p>
                <h3 class="color-blanco p-arriba-30">Robots médicos:</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                La categorización de los robots en la zona de la medicina es bastante vasta. Ejemplo, hay robots diseñados en especial para asistir a personas con variedad servible e inclusive hay prótesis de última generación.  
                </p>
            </div>
            
            <div style="text-align:center;">
                <img class="ancho-30 alto-40 p-30 borde-blanco"src="../../img/robot3.jpg" alt="ROBOT4">
            </div>

            <h2 class="color-blanco texto-grande p-arriba-30">Clasificación de los robots móviles</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">
                Existe también una sub-clasificación para los robots móviles o AMR (Autonomous Mobile Robots) por sus siglas en inglés.
                <a class="referencia-violeta" href="#fuente4-1" onclick="cambiarColor('fuente4-1', 'color-violeta')">1</a>
               </p>

            <h3 class="color-blanco p-arriba-30">Robots móviles para picking:</h3>
            <p class="p-arriba-10 color-blanco texto-justificado">
                <ul class="p-izquierda-30 color-blanco">
                    <li><b>AMR para picking de hombre a producto: </b>Hace la capacidad del coche de picking y sigue de manera autónoma al operario. El trabajador se delega entonces de elegir los productos de las 
                        estanterías y depositarlos en el robot. </li>
                    <li><b>AMR para picking de producto a hombre: </b>Es capaz de levantar la estantería completa donde está el producto (suelen ser de diminuto o mediano tamaño)
                         y la desplaza hasta una estación de picking.  </li>
                </ul>
            </p>

            <div style="text-align:center;">
                <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot_movil_1.png" alt="ROBOT2">
            </div>

            <h2 class="color-blanco texto-grande p-arriba-30">Clasificación según su arquitectura</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">
                En el sitio de inteligencia artificial se puede encontrar la siguiente clasificación de los robots segun su 
                arquitectura. <a class="referencia-violeta" href="#fuente4-2" onclick="cambiarColor('fuente4-2', 'color-violeta')">2</a><br><br> 
                <ul class="p-izquierda-30 color-blanco">
                    <li class="p-abajo-10"><b>Robots poliarticulados:</b> Estructurados para mover sus elementos terminales en un determinado espacio de trabajo según uno o más sistemas
                     de coordenadas y con un número limitado de grados de libertad</li>
                    <li class="p-abajo-10"><b>Robots móviles:</b>Dotados con capacidad de desplazamiento, basados en carros o plataformas
                     y dotados de un sistema locomotor de tipo rodante</li>
                    <li class="p-abajo-10"><b>Robots androides:</b> Aquellos que intentan reproducir total o parcialmente 
                    la forma y el comportamiento cinemática del ser humano.</li>
                    <li class="p-abajo-10"><b>Robots zoomórficos:</b> Caracterizados principalmente por sus sistemas de locomoción 
                    que imitan a los diversos seres vivos.</li>
                    <li class="p-abajo-10"><b>Robots híbridos:</b> Aquellos cuya estructura se sitúa en combinación con alguna de las 
                    anteriores ya expuestas, bien sea por conjunción o por yuxtaposición.</li>
                </ul>
            </p>

            <div style="text-align:center;">
                <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot1.jpg" alt="ROBOT1">
            </div>

            <h2 class="color-blanco texto-grande p-arriba-30">Clasificación según su diseño mecánico y capacidad de sensores</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">
                 También puede encontrarse la clásificación según el diseño mecánico y por capacidad de sensores, tengase en cuenta 
                 que estas clasificaciones pueden englobarse en la clasificación cronológica: 
                 arquitectura: <a class="referencia-violeta" href="#fuente4-2" onclick="cambiarColor('fuente4-2', 'color-violeta')">2</a>
                 <br><br>
            <ul class="p-izquierda-30 color-blanco">
                <li class="p-abajo-10"><b>Robots play-back:</b> Reproducen una serie de instrucciones grabadas. Son los más usados en fábricas, por ejemplo.</li>
                <li class="p-abajo-10"><b>Robots controlados por sensores:</b> Tienen  una serie de sensores y llevan a cabo acciones basadas en datos obtenidos por sensores.</li>
                <li class="p-abajo-10"><b>Robots controlados por visión:</b> Pueden manipular un objeto al utilizar información desde un sistema de visión.</li>
                <li class="p-abajo-10"><b>Robots controlados adaptablemente:</b> Pueden, automáticamente, reprogramar sus acciones sobre la base de datos obtenidos por los sensores.</li>
                <li class="p-abajo-10"><b>Robots con Inteligencia Artificial:</b> Son los más desarrollados. Utilizan técnicas de inteligencia artificial para llevar a cabo sus propias decisiones y resolver problemas.</li>
            </ul>
            </p>
            <section name="videos"class="d-flex flex-column contenido-principal contenido-temas ancho-100 p-20">
           
                <h2 class="color-blanco texto-grande p-arriba-30">Videos sobre el tema</h2>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    A continuación te dejamos unos videos para mayor comprensión !<br><br>
                </p>

                <div style="text-align:center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kDb7Op4m8aU" class="borde-blanco p-20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </section>
        </section>

      
        
        <section name="Fuentes" class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas contenido-principal color-blanco">
            <h3 class="color-violeta p-abajo-20 texto-grande">Referencias</h3>
            <p class="cita" id="fuente4-1">1. (Euroinnova Formación, 2022)</p>
            <p class="cita" id="fuente4-2">2. (Clasificación de los robots - Inteligencia Artificial, s. f.)</p>
        </section>
    </div>

    

    <!-- <%- include('../componentes/footer.ejs')  %> -->

    <script src="/assets/js/fuentes.js"></script>
</body>
</html>