<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/LOGO-violeta.png">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">


    <title>AIuda: Unidad IV</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/headerU4.ejs'); %>

    <div class="ancho-100 d-flex flex-column centro-horizontal">
        <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
            <h1 class="color-violeta texto-enorme p-abajo-30">4. Aplicaciones con técnicas de la Inteligencia Artificial</h1>

            <h2 class="color-blanco texto-grande"><span class="color-violeta">4.1.</span> Robótica</h2>
            <h2 class="color-blanco texto-grande p-arriba-30"><span class="color-violeta">4.1.3</span> Desarrollos actuales y aplicaciones</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">En el sitio oficial de BBVA Suiza se encuentran mencionados las siguientes aplicaciones y avances de la robótica :
                <a class="referencia-violeta" href="#fuente4-1" onclick="cambiarColor('fuente4-1', 'color-violeta')" >1</a></p>
            <div class="p-izquierda-30">

                <h3 class="color-blanco p-arriba-30">La industria</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">Con la implementación de bots,
                     se automatizan tareas que simulan comportamientos humanos. Los avances tecnológicos permiten que robots y bots piensen. <br><br>
                     Las empresas automatizan actividades como reclutamiento, ingreso de datos y generación de informes.
                </p>

                <div style="text-align:center;" class="p-arriba-30">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot7.jpg" alt="ROBOT7">
                </div>
   
                <h3 class="color-blanco p-arriba-30">Servicio al cliente</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    La atención al cliente es un área donde los robots están cada vez más presentes. Sea un robot físico o digital (chatbots), su objetivo es mejorar la comunicación empresarial
                </p>

                <h3 class="color-blanco p-arriba-30">Visión artificial.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    La visión artificial permite tomar decisiones a partir de información contenida en imágenes, 
                    ello, de una manera efectiva y automática. <br><br>

                    Estos sistemas poseen aplicaciones exitosas en la identificación de piezas por tipo, modelo o lectura de código de barras, así como la detección de fallas en piezas o productos.
                    Hoy en día varias cadenas minoristas ya utilizan dicha tecnología para empaquetar y entregar pedidos
                </p>

                <div style="text-align:center;" class="p-arriba-30">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot8.jpg" alt="ROBOT8">
                </div>

                <h3 class="color-blanco p-arriba-30">Industria automotriz.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    La red de robots y vehículos autónomos cuenta con la última tecnología para movilización sin conductor. 
                    La industria automotriz ha utilizado robots en sus líneas de montaje por casi cien años.
                </p>
            
                <h3 class="color-blanco p-arriba-30">Manufacturas.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Los sectores de manufactura se han volcado hacia la automatización, como en alimentos, textiles, madera y plásticos. 
                    Las fábricas inteligentes ensamblan productos con un mismo equipo, eliminando la línea de producción tradicional.
                </p>

                <div style="text-align:center;" class="p-arriba-30">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot9.jpg" alt="ROBOT9">
                </div>

                <h3 class="color-blanco p-arriba-30">Energías renovables.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Las inversiones en tecnología robótica son impulsadas por el objetivo de una menor huella de carbono. 
                    Los robots modernos reducen el consumo de energía y desperdicios, y son 
                    utilizados en la manufactura de equipos de energía renovable como la energía 
                    fotovoltaica y las pilas de combustible de hidrógeno.
                </p>

                <h3 class="color-blanco p-arriba-30">Cirugía robótica.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    La cirugía robótica es una forma de cirugía laparoscópica de mínima invasión, 
                    realizada a través de un robot que replica los movimientos naturales del cirujano
                    para una mayor precisión. <br><br>

                    El robot Da Vinci, uno de los sistemas más utilizados, cuenta con una cámara de alta
                    definición en sus brazos, lo que permite procedimientos complejos con mayor precisión 
                    en comparación con las técnicas convencionales.
                </p>

                <div style="text-align:center;" class="p-arriba-30">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot10.jpg" alt="ROBOT10">
                </div>

                <h3 class="color-blanco p-arriba-30">Nanomedicina.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    La nanomedicina utiliza sistemas a escala nanométrica para el diseño y evaluación de sistemas complejos
                    relacionados con el diagnóstico, tratamiento y prevención de enfermedades. La nanotecnología podría permitir
                    la construcción de nano-robots (nanobots) 
                    que actuarían en nuestro cuerpo, realizando diversas funciones como un ejército a nivel nanométrico.
                </p>

                <h3 class="color-blanco p-arriba-30">Prótesis y exoesqueletos robóticos.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Existen diversas prótesis que pueden utilizarse como sustitutos de miembros perdidos. Sin embargo, la robótica médica 
                    apuesta por los exoesqueletos robóticos, que imitan los movimientos normales de una extremidad a partir de impulsos 
                    neuronales del cerebro. <br><br>

                    Estos avances en prótesis permiten no solo el movimiento del miembro, sino incluso la posibilidad de sentir a través 
                    de la prótesis.
                </p>

                <div style="text-align:center;" class="p-arriba-30">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/robot11.jpg" alt="ROBOT11">
                </div>
                
                <h3 class="color-blanco p-arriba-30">Recuperación de sentidos.</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Gracias a la evolución de la robótica en medicina, es posible llegar a recuperar algún sentido perdido, 
                    un ejemplo es la implantación de ojos y oídos biónicos.
                </p>

                <section name="videos"class="d-flex flex-column contenido-principal contenido-temas ancho-100 p-20">
           
                    <h2 class="color-violeta texto-grande p-arriba-30">Videos sobre el tema</h2>
                    <p class="p-arriba-10 color-blanco texto-justificado">
                        A continuación te dejamos unos videos para mayor comprensión !<br><br>
                    </p>
    
                    <div style="text-align:center;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Hk7IXI2nFig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </section>
            </section>
            
                <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                    <h2 class="color-violeta texto-enorme p-abajo-30">Recordando ...</h2>
                    <p class="color-blanco texto-grande texto-justificado">¿En qué área se utilizan los robots físicos o digitales para mejorar la comunicación empresarial?</p>
                    <div class="contenedor-respuestas">
                        <div class="mensaje m-arriba-20 color-blanco"></div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Industria automotriz</div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Cirugía robótica</div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Servicio al cliente.</div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Recuperación de sentidos.</div>
                    </div>
        
                    <p class="color-blanco texto-grande p-arriba-30 texto-justificado">¿En qué área se utilizan los robots para ensamblar productos con un mismo equipo, eliminando la línea de producción tradicional?</p>
                    <div class="contenedor-respuestas">
                        <div class="mensaje m-arriba-20 color-blanco"></div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Energías renovables.</div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Industria automotriz.</div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Manufacturas.</div>
                        <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Recuperación de sentidos.</div>
                    </div>
                    
                </section>
        
        
                <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
                    <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/aplicaciones_IA/robotica/clasificacion">
                        <i class="uil uil-previous texto-enorme color-violeta"></i>
                        <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
                    </a>
                    <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/aplicaciones_IA/redes_neuronales/conceptos_basicos">
                        <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                        <i class="uil uil-step-forward texto-enorme color-violeta"></i>
                    </a>
                </section>
        
                <section name="Fuentes" class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
                    <h3 class="color-violeta p-abajo-20 texto-grande">Referencias</h3>
                    <p class="cita" id="fuente4-1">1. (BBVA Suiza, 2022)</p>
                </section>
                        
        

       
    </div>

    <!-- <%- include('../componentes/footer.ejs')  %> -->

    <script src="/assets/js/fuentes.js"></script>
    <script src="/assets/js/preguntas.js"></script>
</body>
</html>