<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad IV</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/headerU4.ejs'); %>

    <div class="ancho-100 d-flex flex-column centro-horizontal">
        <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
            <h1 class="color-violeta texto-enorme p-abajo-30">4. Aplicaciones con técnicas de la Inteligencia Artificial</h1>

            <h2 class="color-blanco texto-grande">4.5. Procesamiento del lenguaje natural (PLN)</h2>
            <h2 class="color-blanco texto-grande p-arriba-30">4.5.1 Conceptos básicos</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">El procesamiento de lenguaje natural (PLN) aúna dos disciplinas tan aparentemente lejanas como la lingüística y la inteligencia artificial. 
                En la actualidad, este campo de las ciencias de la computación, que consiste en transformar el lenguaje natural en un lenguaje formal —como el de programación— que los ordenadores puedan procesar, 
                no deja de evolucionar y sus aplicaciones son cada vez mayores.
            <a class="referencia-violeta" href="#fuente4-1" onclick="cambiarColor('fuente4-1', 'color-violeta')" >1</a>
            </p>
            <div class="p-izquierda-30">
                <h3 class="color-blanco p-arriba-30">¿Qué es?</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">Según la definición de IBM, el procesamiento de lenguaje natural es la rama de la informática 
                    —más concretamente, de la inteligencia artificial— que se ocupa de dotar a los ordenadores 
                    de la capacidad de entender lenguaje hablado y escrito del mismo modo que los seres humanos. 
                    Esta tecnología ha alcanzado un alto nivel en la actualidad gracias a la aplicación de tecnologías 
                    como el machine learning (aprendizaje automático), el big data, el internet de las cosas o las redes neuronales.
                </p>

                <div style="text-align:center;" class="p-arriba-10">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/pln1.jpg" alt="pln1">
                </div> 

                <p class="p-arriba-10 color-blanco texto-justificado">Algunas de las aplicaciones más importantes se centran en la inteligencia 
                    de negocio (business intelligence), que permite analizar automáticamente las reacciones de los clientes a través de lo que publican 
                    en Internet o de las preguntas que realizan para extraer información. Los chatbots son otra aplicación que, aunque aún cuenta con un 
                    gran margen de mejora, agiliza la interacción con los clientes a través de chats o contestadores telefónicos ofreciendo respuestas rápidas 
                    y automatizadas gracias al procesamiento de lenguaje natural.
                </p>

                <div style="text-align:center;" class="p-arriba-10">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/pln2.png" alt="pln2">
                </div> 
                <h3 class="color-blanco p-arriba-30">Un poco de historia...</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    El procesamiento de lenguaje natural tiene sus raíces en la década de 1950, cuando Alan Turing publicó 
                    un artículo (Máquinas computacionales e inteligencia) en el que proponía lo que hoy se conoce como el Test de Turing. 
                    La prueba examinaba la capacidad de una máquina para exhibir un comportamiento inteligente similar al de un ser humano. 
                    A partir de ese momento, la evolución de los algoritmos asociados a esta tecnología ha permitido alcanzar el progreso actual.
                </p>

                <div style="text-align:center;" class="p-arriba-10">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/pln3.jpg" alt="pln3">
                </div> 
                
                <h3 class="color-blanco p-arriba-30">Funcionamiento</h3>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Los primeros modelos de análisis de lenguaje natural se basaban en reglas manuales para codificar las estructuras del lenguaje, 
                    como los tiempos verbales y las conjugaciones. En los años 80 y 90, se introdujeron modelos estadísticos que utilizaban algoritmos 
                    de inferencia para encontrar patrones en textos y realizar comparaciones. Estos modelos estadísticos son más confiables al enfrentarse 
                    a nuevas palabras o detectar errores. En la actualidad, la mayoría de los sistemas de procesamiento de lenguaje natural combinan enfoques 
                    simbólicos y estadísticos para realizar diversos tipos de análisis. <br>
                    En concreto, los sistemas de procesamiento de lenguaje natural realizan varios tipos de análisis: <br><br>
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>Morfológico: </b>Se centra en distinguir los distintos tipos de palabras (verbos, sustantivos, preposiciones, etc.) y sus variaciones (género, número, tiempo, etc.).
                        </li>
                        <li class="p-abajo-10"><b>Sintáctico: </b>Separa unas frases de otras y analiza las partes que las componen (sujeto, verbo, predicado) para así poder extraer su sentido. 
                        </li>
                        <li class="p-abajo-10"><b>Semántico: </b>Analiza el significado, no solo de las palabras individuales, sino de las frases de las que forman parte y del discurso en su conjunto.
                        </li>
                        <li class="p-abajo-10"><b>Pragmático: </b>Se encarga de extraer la intención del texto dependiendo de su contexto y permite diferenciar factores como la ironía, la ambigüedad o el estado de ánimo.
                        </li>
                    </ul>
                </p>
                

                <div style="text-align:center;" class="p-abajo-10">
                    <img class="ancho-30 alto-30 p-20 borde-blanco"src="../../img/pln4.jpg" alt="pln4">
                </div>       
            </div>

            <section name="videos"class="d-flex flex-column contenido-principal contenido-temas ancho-100 p-20">
           
                <h2 class="color-violeta texto-grande p-arriba-30">Videos sobre el tema</h2>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    A continuación te dejamos unos videos para mayor comprensión !<br><br>
                </p>

                <div style="text-align:center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/C7VEBTqh6xs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <br><br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Lk-K9ftWUuw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

            </section>

           
            <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                <h2 class="color-violeta texto-enorme p-abajo-30">Repasando...</h2>
                <p class="color-blanco texto-grande texto-justificado">¿Cuál de las siguientes afirmaciones es correcta sobre el procesamiento de lenguaje natural (PLN)?
                </p>
                <div class="contenedor-respuestas">
                    <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-violeta')">El PLN es una disciplina que combina la química y la biología.</div>
                    <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-violeta')">El PLN se encarga de transformar el lenguaje natural en un lenguaje de programación.</div>
                    <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-verde')">El PLN utiliza tecnologías como el machine learning, el big data y las redes neuronales.</div>
                    <div class="respuesta violeta m-arriba-20" onclick="evaluar(event, 'fondo-violeta')"> El PLN se originó en la década de 1950 con el desarrollo de la inteligencia artificial.</div>
                </div>
            </section>
            <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
                <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/aplicaciones_IA/logica_difusa/desarrollos_y_aplicaciones_ld">
                    <i class="uil uil-previous texto-enorme color-violeta"></i>
                    <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
                </a>
                <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/aplicaciones_IA/procesamiento_del_lenguje_natural/desarrollos_y_aplicaciones">
                    <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                    <i class="uil uil-step-forward texto-enorme color-violeta"></i>
                </a>
            </section>
            <section name="Fuentes" class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
                <h3 class="color-violeta p-abajo-20 texto-grande">Referencias</h3>
                <p class="cita" id="fuente4-1">1. (Iberdrola, 2021)</p>
            </section>
        </section>
        
    </div>


    <!-- <%- include('../componentes/footer.ejs')  %> -->

    <script src="/assets/js/fuentes.js"></script>
    <script src="/assets/js/preguntas.js"></script>
</body>
</html>