<link rel="stylesheet" href="/assets/css/componentes/barra_nav.css">
<input type="checkbox" id="btn-temas">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <label>1. Inteligencia Artificial</label>
            <a href="/inteligencia_artificial/definicion_historia">Definición e historia</a>
            <a href="/inteligencia_artificial/habilidades_proceso">Las habilidades cognoscitivas y el proceso de razonamiento</a>
            <a href="/inteligencia_artificial/proceso_razonamiento">Razonamiento según la lógica</a>
            <a href="/inteligencia_artificial/modelo_adquisicion">El modelo de adquisición del conocimiento</a>
            <a href="/inteligencia_artificial/modelo_cognoscitivo">El modelo cognoscitivo</a>
            <a href="/inteligencia_artificial/modelo_agente_inteligente">El modelo del agente inteligente</a>
            <a href="/inteligencia_artificial/papel_heuristica">El papel de la heurística</a>

            <label>2. Representación del conocimiento,
                razonamiento y los Aspectos Metodológicos</label>
            <a href="">Principios y Metodología de la Inteligencia
                Artificial</a>
            <a href="">Paradigmas de la Inteligencia Artificial</a>
            <a href="">Mapas conceptuales</a>
            <a href="">Redes semánticas</a>
            <a href="">Razonamiento monótono</a>
            <a href="">Conocimiento no-monótono y otras lógicas</a>
            <a href="">Razonamiento probabilístico</a>
            <a href="">Teorema de Bayes</a>

            <label>3. Reglas y Búsqueda</label>
            <a href="/reglas_busquedas/representacion_conocimientos">Representación de conocimiento
                mediante reglas</a>
            <a href="/reglas_busquedas/metodos_de_inferencia">Métodos de Inferencia en reglas</a>
            <a href="/reglas_busquedas/reglas_de_produccion">Reglas de producción</a>
            <a href="/reglas_busquedas/sintaxis_de_las_reglas">Sintaxis de las reglas de producción</a>
            <a href="/reglas_busquedas/semantica_reglas">Semántica de las reglas de producción</a>
            <a href="/arquitectura_sistema">Arquitectura de un sistema de Producción
                (SP) o sistemas basados en reglas, (SBR).</a>

            <label>4. Aplicaciones con técnicas de IA</label>
            <label class="texto-peso-100">Robótica</label>
            <a href="/aplicaciones_IA/robotica/conceptos_basicos">Conceptos básicos</a>
            <a href="/aplicaciones_IA/robotica/clasificacion">Clasificación</a>
            <a href="/aplicaciones_IA/robotica/desarrollos_y_aplicaciones">Desarrollos actuales y
                aplicaciones</a>
            <label class="texto-peso-100">Redes Neuronales (RN)</label>
            <a href="/aplicaciones_IA/redes_neuronales/conceptos_basicos">Conceptos básicos</a>
            <a href="/aplicaciones_IA/redes_neuronales/clasificacion">Clasificación</a>
            <a href="/aplicaciones_IA/redes_neuronales/desarrollos_y_aplicaciones_rn">Desarrollos actuales y
                aplicaciones</a>
            <label class="texto-peso-100">Visión Artificial</label>
            <a href="/aplicaciones_IA/vision_artificial/conceptos_basicos">Conceptos básicos</a>
            <a href="/aplicaciones_IA/vision_artificial/desarrollos_y_aplicaciones">Desarrollos actuales y
                aplicaciones</a>
            <label class="texto-peso-100">Lógica difusa (Fuzzy Logic)</label>
            <a href="/aplicaciones_IA/logica_difusa/conceptos_basicos">Conceptos básicos</a>
            <a href="/aplicaciones_IA/logica_difusa/desarrollos_y_aplicaciones_ld">Desarrollos actuales y
                aplicaciones</a>
            <label class="texto-peso-100">Procesamiento de Lenguaje Natural (PLN)</label>
            <a href="/aplicaciones_IA/procesamiento_del_lenguje_natural/conceptos_basicos">Conceptos básicos</a>
            <a href="/aplicaciones_IA/procesamiento_del_lenguje_natural/desarrollos_y_aplicaciones">Desarrollos actuales y
                    aplicaciones</a>
            <label class="texto-peso-100">Sistemas Expertos (SE)</label>
            <a href="/aplicaciones_IA/sistemas_expertos/conceptos_basicos">Conceptos básicos</a>
            <a href="/aplicaciones_IA/sistemas_expertos/clasificacion">Clasificación</a>
            <a href="/aplicaciones_IA/sistemas_expertos/desarrollos_y_aplicaciones">Desarrollos actuales y
                aplicaciones</a>
        </nav>
        <label for="btn-temas" class="icon-equis">x</label>
    </div>
</div>