<link rel="stylesheet" href="/assets/css/componentes/header.css">
<header class="d-flex centro-horizontal izquierda-vertical fondo-gris-oscuro">
    <a class="titulo texto-grande color-blanco m-derecha-20" href="/"><span class="texto-grandote color-rosa">AI</span>UDA</a>
    <div class="barrita m-derecha-20 fondo-blanco"></div>
    <div class="opciones">
        <label class="m-derecha-20 color-gris-claro" for="btn-temas">Temas</label>
        <a class="m-derecha-20 color-gris-claro" href="/bibliografia">Bibliografía</a>
        <a class="m-derecha-20 color-gris-claro" href="/about-us">Acerca de</a>
    </div>
</header>
<%- include('barra_nav.ejs') %>