<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad II</title>
</head>

<body class="fondo-negro">
    <%- include('../componentes/headerU2.ejs'); %>

        <div class="ancho-100 d-flex flex-column centro-horizontal">
            <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
                <h1 class="color-azul texto-enorme p-abajo-30">2. Representación del conocimiento, razonamiento y los
                    Aspectos Metodológicos.</h1>

                <h2 class="color-blanco texto-grande"><span class="color-azul">2.2.</span> Paradigmas de la Inteligencia
                    Artificial.</h2>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    Los paradigmas de la Inteligencia Artificial son enfoques fundamentales que guían el desarrollo y la
                    implementación de sistemas de IA. Cada paradigma representa una forma distinta de abordar y
                    solucionar problemas utilizando técnicas y metodologías específicas.
                    <a class="referencia-azul" href="#fuente2-1"
                        onclick="cambiarColor('fuente2-1', 'color-azul')">1</a><br><br>
                </p>
                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco" src="../../img/am_paradigma.jpg" alt="IA"><br><br>
                </div>

                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    A continuación, se describen algunos de los paradigmas más destacados en el campo de la Inteligencia
                    Artificial:<br>
                    <br>
                </p>
                <ol class="p-izquierda-20 color-blanco">
                    <li class="p-abajo-10"><span class="texto-peso-600">Paradigma simbólico:</span> Este paradigma se
                        basa en el procesamiento de símbolos y el razonamiento lógico. Se centra en la manipulación de
                        representaciones simbólicas del conocimiento y utiliza reglas formales para inferir nuevas
                        conclusiones. Los sistemas basados en este paradigma son expertos en la representación del
                        conocimiento y en el razonamiento deductivo.</li>
                    <li class="p-abajo-10"><span class="texto-peso-600">Paradigma conexionista:</span> También conocido
                        como redes neuronales artificiales, este paradigma se inspira en el funcionamiento del cerebro
                        humano. Los sistemas conexionistas están compuestos por una red de nodos interconectados
                        llamados neuronas artificiales, que trabajan en conjunto para procesar información y aprender de
                        manera autónoma. Este paradigma se basa en el aprendizaje mediante la adaptación de los pesos de
                        las conexiones entre las neuronas.</li>
                    <li class="p-abajo-10"><span class="texto-peso-600">Paradigma evolutivo:</span> Este paradigma se
                        basa en los principios de la evolución biológica y la selección natural. Los sistemas evolutivos
                        utilizan algoritmos genéticos y técnicas de optimización para evolucionar y mejorar
                        automáticamente a lo largo del tiempo. Estos sistemas generan una población de soluciones y las
                        someten a procesos de selección, reproducción y mutación, permitiendo que las mejores soluciones
                        sobrevivan y se adapten.</li>
                    <li class="p-abajo-10"><span class="texto-peso-600">Paradigma basado en conocimiento:</span> Este
                        paradigma se enfoca en la representación y utilización del conocimiento experto en un dominio
                        específico. Los sistemas basados en conocimiento utilizan bases de conocimiento explícitas,
                        reglas y heurísticas para resolver problemas complejos. Estos sistemas capturan y organizan el
                        conocimiento de expertos humanos y lo utilizan para tomar decisiones y proporcionar
                        recomendaciones.</li>
                </ol>
                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco" src="../../img/ia_paradigm.gif" alt="IA">
                </div>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    Estos paradigmas representan diferentes enfoques y filosofías en el campo de la Inteligencia
                    Artificial. Cada uno tiene sus propias fortalezas y limitaciones, y se aplican en diferentes
                    contextos y situaciones para abordar problemas específicos. La combinación y la integración de
                    múltiples paradigmas también son comunes en la búsqueda de soluciones más completas y efectivas en
                    la Inteligencia Artificial.
                    <a class="referencia-azul" href="#fuente2-1"
                        onclick="cambiarColor('fuente2-1', 'color-azul')">1</a>
                </p>

            </section>
            <section name="Videos"
                class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                <h2 class="color-azul texto-grande">Videos sobre el tema</h2>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Nunca está de más aprender más<br><br>
                </p>
                <div style="text-align:center;">
                    <iframe width="426" height="240" src="https://www.youtube.com/embed/y3y_ZotZy-U"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen=""></iframe>

                    <iframe width="426" height="240" src="https://www.youtube.com/embed/7-6X3DTt3R8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen=""></iframe>
                </div>
            </section>
            
            <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                <h2 class="color-azul texto-enorme p-abajo-30">Pregunta</h2>
                <p class="color-blanco texto-grande texto-justificado">¿Cuál de los siguientes paradigmas de la
                    Inteligencia Artificial se inspira en el funcionamiento del cerebro humano y utiliza redes
                    neuronales artificiales?</p>
                <div class="contenedor-respuestas">
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Paradigma simbólico
                    </div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Paradigma evolutivo</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Paradigma conexionista
                    </div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Paradigma basado en conocimiento</div>
                </div><br><br>

                <!-- <p class="color-blanco texto-grande texto-justificado">¿Qué metodología en la Inteligencia Artificial
                    implica el almacenamiento y reutilización de casos previos para resolver problemas similares en el
                    futuro?</p>
                <div class="contenedor-respuestas">
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Aprendizaje
                        automático (Machine Learning)</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Enfoque basado en
                        casos</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Enfoque basado en
                        reglas</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Sistemas expertos
                    </div>
                </div> -->
            </section>

            <section
                class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
                <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado"
                    href="/aspectos_metodologicos/principios_y_metodologia">
                    <i class="uil uil-previous texto-enorme color-azul"></i>
                    <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
                </a>
                <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado"
                    href="/aspectos_metodologicos/mapas_conceptuales">
                    <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                    <i class="uil uil-step-forward texto-enorme color-azul"></i>
                </a>
            </section>

            <section name="Fuentes"
                class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
                <h3 class="color-azul p-abajo-20 texto-grande">Referencias</h3>
                <p class="cita" id="fuente2-1">1. Russell, S. J., Norvig, P., Davis, E., & Genesereth, M. (2016).
                    Artificial Intelligence: A Modern Approach. Pearson.</p>
                <!--<p class="cita" id="fuente2-2">2. Brachman, R. J., & Levesque, H. J. (2004). Knowledge Representation
                    and Reasoning. Morgan Kaufmann.</p>-->
            </section>
        </div>

        <!-- <%- include('../componentes/footer.ejs')  %> -->

        <script src="/assets/js/fuentes.js"></script>
        <script src="/assets/js/preguntas.js"></script>
</body>

</html>