<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/LOGO-azul.png">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad II</title>
</head>

<body class="fondo-negro">
    <%- include('../componentes/headerU2.ejs'); %>

        <div class="ancho-100 d-flex flex-column centro-horizontal">
            <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
                <h1 class="color-azul texto-enorme p-abajo-30">2. Representación del conocimiento, razonamiento y los
                    Aspectos Metodológicos.</h1>

                <h2 class="color-blanco texto-grande"><span class="color-azul">2.8.</span> Razonamiento probabilistico.
                </h2>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    El razonamiento probabilístico es una técnica utilizada en la inteligencia artificial para abordar
                    problemas en los que la incertidumbre desempeña un papel fundamental. A diferencia del razonamiento
                    lógico clásico, que se basa en reglas deterministas, el razonamiento probabilístico permite expresar
                    y manipular grados de creencia o incertidumbre mediante el uso de probabilidades.<br><br>
                    En el razonamiento probabilístico, se trabaja con distribuciones de probabilidad para representar la
                    incertidumbre. Una distribución de probabilidad asigna probabilidades a diferentes posibles estados
                    o eventos. Estas probabilidades pueden reflejar grados de creencia o confianza en la ocurrencia de
                    un evento o la veracidad de una afirmación.
                    <a class="referencia-azul" href="#fuente2-1"
                        onclick="cambiarColor('fuente2-1', 'color-azul')">1</a><br><br>
                </p>
                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco" src="../../img/am_estadistica.png" alt="IA"><br><br>
                </div>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    Una de las técnicas más comunes utilizadas en el razonamiento probabilístico es la inferencia
                    probabilística. La inferencia probabilística implica actualizar las creencias iniciales sobre un
                    evento o una hipótesis en función de nueva evidencia o información observada. Esto se hace mediante
                    el cálculo de la distribución de probabilidad posterior, que combina la información previa y la
                    evidencia observada para obtener una creencia más precisa o actualizada.
                    <br><br>
                    En este se emplean diferentes modelos y herramientas para representar y manipular la incertidumbre,
                    es por ello que tiene aplicaciones en una amplia variedad de campos, como el
                    reconocimiento de voz, el procesamiento de imágenes, la medicina, la robótica y la toma de
                    decisiones en entornos inciertos. Permite modelar y resolver problemas donde la información
                    disponible es incompleta, ruidosa o contradictoria, y proporciona una base sólida para el
                    razonamiento y la toma de decisiones bajo incertidumbre.
                    <br><br>
                    El razonamiento probabilístico tiene aplicaciones en una amplia gama de campos, como la toma de
                    decisiones bajo incertidumbre, el procesamiento del lenguaje natural, la visión por computadora, la
                    medicina y la robótica. Permite abordar problemas en los que la información es incompleta, ruidosa o
                    contradictoria, y proporciona un marco sólido para el razonamiento y la toma de decisiones basados
                    en probabilidades.
                    <a class="referencia-azul" href="#fuente2-2" onclick="cambiarColor('fuente2-2', 'color-azul')">2</a>
                </p>

                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco" src="../../img/am_prob.jpg" alt="IA">
                </div>
            </section>
            <section name="Videos"
                class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                <h2 class="color-azul texto-grande">Videos sobre el tema</h2>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Nunca está de más aprender más<br><br>
                </p>
                <div style="text-align:center;">
                    <iframe width="426" height="240" src="https://www.youtube.com/embed/2fSxqXJ7KUs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen=""></iframe>

                    <iframe width="426" height="240" src="https://www.youtube.com/embed/PMRGWwLncBw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen=""></iframe>
                </div>
            </section>

            <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                <h2 class="color-azul texto-enorme p-abajo-30">Pregunta</h2>
                <p class="color-blanco texto-grande texto-justificado">¿Cuál es la principal diferencia entre el razonamiento probabilístico y el razonamiento lógico clásico en la inteligencia artificial?</p>
                <div class="contenedor-respuestas">
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-verde')"> El razonamiento probabilístico utiliza probabilidades para representar la incertidumbre, mientras que el razonamiento lógico clásico se basa en reglas deterministas.</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')"> El razonamiento probabilístico se basa en reglas deterministas, mientras que el razonamiento lógico clásico utiliza probabilidades para representar la incertidumbre.</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')"> El razonamiento probabilístico se basa en creencias absolutas, mientras que el razonamiento lógico clásico considera grados de creencia.</div>
                    <div class="respuesta azul m-arriba-20" onclick="evaluar(event, 'fondo-rosa')"> El razonamiento probabilístico no considera la incertidumbre, mientras que el razonamiento lógico clásico se basa en probabilidades.</div>
                </div><br><br>
            </section>
            <section
            class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
            <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado"
                href="/aspectos_metodologicos/otras_logicas">
                <i class="uil uil-previous texto-enorme color-azul"></i>
                <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
            </a>
            <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado"
                href="/aspectos_metodologicos/teorema_de_Bayes">
                <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                <i class="uil uil-step-forward texto-enorme color-azul"></i>
            </a>
        </section>
            <section name="Fuentes"
                class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
                <h3 class="color-azul p-abajo-20 texto-grande">Referencias</h3>
                <p class="cita" id="fuente2-1">1. Pearl, J. (2014). Probabilistic Reasoning in Intelligent Systems: Networks of Plausible Inference. Morgan Kaufmann.
                </p>
                <p class="cita" id="fuente2-2">2. Koller, D., & Friedman, N. (2009). Probabilistic Graphical Models: Principles and Techniques. MIT Press.</p>

                    



            </section>
        </div>

        <!-- <%- include('../componentes/footer.ejs')  %> -->

        <script src="/assets/js/fuentes.js"></script>
        <script src="/assets/js/preguntas.js"></script>
</body>

</html>