<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/LOGO-azul.png">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">
    <style>
        .card {
            width: 130px;
            margin-bottom: 20px;
        }
    </style>
    <title>AIuda: Unidad II</title>
</head>

<body class="fondo-negro">
    <%- include('componentes/header.ejs'); %>

        <div class="ancho-100 d-flex flex-column centro-horizontal">
            <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
                <h1 class="color-amarillo texto-centro texto-enorme p-abajo-10">SOBRE NOSOTROS</h1>

                <!-- <h2 class="color-blanco texto-grande"><span class="color-azul">2..</span> .</h2> -->
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    ¡Bienvenidos a nuestra página web de IA! Somos un grupo de estudiantes apasionados por la
                    inteligencia artificial y hemos creado este proyecto para compartir conocimientos, recursos y
                    explorar el fascinante mundo de la IA.
                </p>
                <h2 class="color-blanco texto-grande color-rosa texto-centro">
                    <br>JUSTIFICACIÓN DEL PROYECTO
                </h2>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    El objetivo principal de esta investigación es desarrollar una plataforma educativa en línea para el
                    curso de Inteligencia Artificial SCC-1012 del Tecnológico Nacional de México Campus Oaxaca.
                    Esta plataforma brindará información relevante y de calidad a estudiantes, profesores y usuarios
                    interesados en el tema. <br><br>Su propósito es mejorar el aprendizaje y rendimiento académico de los
                    estudiantes, enriquecer la enseñanza de los profesores y proporcionar una fuente de información
                    actualizada para entusiastas de la inteligencia artificial en general.
                </p>

                <h2 class="color-blanco p-abajo-20 texto-grande color-azul texto-centro">
                    EQUIPO DE TRABAJO
                </h2>
                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco" src="../../img/am_prob.jpg" alt="IA"><br><br>
                </div>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                    
                </p>

                <h2 class="color-blanco texto-grande color-violeta texto-centro">
                    <br>CONTACTO
                </h2>
                <p class="p-arriba-10 p-abajo-20 color-blanco texto-centro ">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class=" color-verde"> HOLA</a>
                </p>


            </section>

        </div>

        <script src="/assets/js/fuentes.js"></script>
        <script src="/assets/js/preguntas.js"></script>
</body>

</html>