<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/LOGO-naranja.png">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/paginas/index.css">
    <link rel="stylesheet" href="assets/css/componentes/footer.css">

    <title>AIuda</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/headerU3.ejs'); %>

    <section class="contenido-principal d-flex ancho-100">
        <div class="mitad-foto ancho-60 fondo-dark">
            <h1 class="p-izquierda-20 color-blanco texto-colosal m-arriba-10"><span class="color-amarillo texto-colosal-extra">AI</span>UDA</h1>
            <img class="ancho-100 alto-100" style="object-fit: cover;" src="img/ondas.jpg" alt="IMAGEN">
        </div>
        <div class="mitad-texto d-flex flex-column centro-horizontal ancho-40">
            <h1 class="titulo-aux color-blanco texto-colosal m-arriba-10"><span class="color-amarillo texto-colosal-extra">AI</span>UDA</h1>
            <p class="texto-centro texto-grande p-arriba-10 p-abajo-10 ancho-90 color-gris-claro texto-peso-500">El Hola Mundo de la Inteligencia Artificial</p>
            <img class="borde-blanco" style="object-fit: cover; height: 50%; width: 90%;" src="https://i.gifer.com/7fpw.gif" alt="IMAGEN">
            <p class="texto-justificado p-arriba-10 ancho-90 color-gris-claro texto-peso-400">En esta página podrás encontrar información sobre la inteligencia artificial y cómo esta disciplina está revolucionando el mundo de la tecnología. Descubre cómo la IA se aplica en áreas como la salud, la educación, la industria y muchos otros campos, y cómo puedes formar parte de este emocionante futuro. ¡Explora nuestro contenido y descubre todo lo que la inteligencia artificial tiene que ofrecer!</p>
            <p class="texto-peque p-arriba-20 ancho-90 color-gris-medio texto-peso-400">3 DE ABRIL DE 2023, A LAS 9:51 PM</p>
            <div class="d-flex centro-horizontal f-espacio m-arriba-30 ancho-90">
                <a class="btn-comenzar borde-recto color-gris-medio texto-peque texto-peso-400" href="/inteligencia_artificial/definicion_historia">COMENZAR</a>
                <div>
                    <i class="color-gris-medio texto-grande uil uil-instagram"></i>
                    <i class="color-gris-medio texto-grande uil uil-cog"></i>
                    <i class="color-gris-medio texto-grande uil uil-facebook"></i>
                </div>
            </div>
        </div>
    </section>
</body>
</html>