<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/LOGO-naranja.png">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad III</title>
</head>

<body class="fondo-negro">
    <%- include('../componentes/headerU3.ejs'); %>

        <div class="ancho-100 d-flex flex-column centro-horizontal">
            <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
                <h1 class="color-amarillo texto-enorme p-abajo-30">3. Reglas y Busqueda</h1>

                <h2 class="color-blanco texto-grande"><span class="color-violeta">3.2.</span> Metodos de Inferencia en reglas</h2>
                <h2 class="color-blanco texto-grande p-arriba-30"></h2>
                <div class="p-izquierda-30">
                    <p class="p-arriba-10 color-blanco texto-justificado">Las reglas de inferencia, según Gregorio
                        Fernandéz (2004), son esquemas básicos de inferencia
                        deductiva que se suelen escribir poniendo cada premisa en una línea y la conclusión en otra
                        línea al final. Toda regla, como toda inferencia
                        deductiva, tiene que estar basada en la implicación de la conclusión a partir de las premisas.
                        Las reglas de inferencia más comunes y sus ejemplos
                        son las siguientes:
                        <a class="referencia-amarillo" href="#fuente3-1"
                            onclick="cambiarColor('fuente3-1', 'color-amarillo')">1</a>
                    </p>
                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de modus ponens permite afirmar el
                        consecuente de un condicional
                        si se afirma el antecedente. Por ejemplo:

                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P1: si llueve, el camino está mojado </b>
                        </li>
                        <li class="p-abajo-10"><b>P2: llueve </b>
                        </li>
                        <li class="p-abajo-10"><b>C: el camino está mojado</b>
                        </li>
                    </ul>
                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de modus tollens permite negar el
                        antecedente de un condicional si se niega su consecuente. Por ejemplo:
                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P1: si no llueve, el camino no está mojado </b>
                        </li>
                        <li class="p-abajo-10"><b>P2: el camino no está mojado</b>
                        </li>
                        <li class="p-abajo-10"><b>C: no llueve</b>
                        </li>
                    </ul>
                    </p>


                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de introducción de conjunción permite
                        concluir la conjunción de dos premisas. Por ejemplo:

                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P1: hoy es lunes </b>
                        </li>
                        <li class="p-abajo-10"><b>P2: hoy es día de clase</b>
                        </li>
                        <li class="p-abajo-10"><b>C: hoy es lunes y hoy es día de clase</b>
                        </li>
                    </ul>
                    </p>


                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de introducción de disyunción permite
                        concluir la disyunción de dos premisas. Por ejemplo:

                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P1: tengo hambre </b>
                        </li>
                        <li class="p-abajo-10"><b>P2: tengo sueño</b>
                        </li>
                        <li class="p-abajo-10"><b>C: tengo hambre o tengo sueño</b>
                        </li>
                    </ul>
                    </p>


                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de eliminación de conjunción permite
                        concluir cada una de las premisas de una conjunción. Por ejemplo:

                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P: tengo hambre y tengo sueño </b>
                        </li>
                        <li class="p-abajo-10"><b>C1: tengo hambre</b>
                        </li>
                        <li class="p-abajo-10"><b>C2: tengo sueño</b>
                        </li>
                    </ul>
                    </p>


                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de encadenamiento permite concluir un
                        condicional a partir de dos premisas condicionales. Por ejemplo:

                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P1: si llueve, me mojo </b>
                        </li>
                        <li class="p-abajo-10"><b>P2: si me mojo, me pongo una chaqueta</b>
                        </li>
                        <li class="p-abajo-10"><b>C: si llueve, me pongo una chaqueta</b>
                        </li>
                    </ul>
                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">La regla de resolución permite concluir una
                        disyunción a partir de dos premisas condicionales. Por ejemplo:

                    </p>

                    <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>P1: llueve o hace sol </b>
                        </li>
                        <li class="p-abajo-10"><b>P2: si llueve, me mojo</b>
                        </li>
                        <li class="p-abajo-10"><b>C: si hace sol, no me mojo</b>
                        </li>
                    </ul>
                    </p>
                    <div style="text-align:center;" class="p-arriba-10">
                        <img class="ancho-40 alto-40 p-20 borde-blanco" src="../../img/Unidad3Imagen3.jpg" alt="pln2">
                    </div>
                    <section name="videos"class="d-flex flex-column contenido-principal contenido-temas ancho-100 p-20">
           
                        <h2 class="color-amarillo texto-grande p-arriba-30">Videos sobre el tema</h2>
                        <p class="p-arriba-10 color-blanco texto-justificado">
                            Aprende más del tema!<br><br>
                        </p>
        
                        <div style="text-align:center;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/lPQNjcF-7Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
        
                    </section>   
                </section>
                
                <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50 p-arriba-30">
                    <h2 class="color-amarillo texto-enorme p-abajo-30">Pon a prueba tus conocimientos</h2>
                    <p class="color-blanco texto-grande texto-justificado">Es un ejemplo de una regla de eliminación </p>
                    <div class="contenedor-respuestas">
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">P1: Tengo tarea P2: No tengo tarea C:Tendré tarea</div>
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">P1:Entro a la página de AIuda P2:No entiendo nada C:Repruebo la materia</div>
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-verde')">P1: Estudio y aprendo C:Estudio C:Aprendo</div>
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">P1:Quiero dormir P2: Quiero comer C: Quiero dormir o comer</div>
                    </div>
                </section>
                
    
                <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
                    <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/reglas_busquedas/representacion_conocimientos">
                        <i class="uil uil-previous texto-enorme color-amarillo"></i>
                        <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
                    </a>
                    <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/reglas_busquedas/reglas_de_produccion">
                        <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                        <i class="uil uil-step-forward texto-enorme color-amarillo"></i>
                    </a>
                </section>
    
                <section name="Fuentes"
                    class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
                    <h3 class="color-amarillo p-abajo-20 texto-grande">Referencias</h3>
                    <p class="cita" id="fuente3-1">1. (Fernandez, 2004)</p>
                </section>
            
        </div>

        <!-- <%- include('../componentes/footer.ejs')  %> -->

        <script src="/assets/js/fuentes.js"></script>
        <script src="/assets/js/preguntas.js"></script>
</body>

</html>