<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/LOGO-naranja.png">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad III</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/headerU3.ejs'); %>

    <div class="ancho-100 d-flex flex-column centro-horizontal">
        <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
            <h1 class="color-amarillo texto-enorme p-abajo-30">3. Reglas y Busqueda</h1>

            <h2 class="color-blanco texto-grande"><span class="color-amarillo">3.1.</span> Representación del conocimiento mediante reglas</h2>
            <h2 class="color-blanco texto-grande p-arriba-30"></h2>
            <div class="p-izquierda-30">
                <p class="p-arriba-10 color-blanco texto-justificado">Las inteligencias artificiales determinan que el desarrollo
                     de los sistemas inteligentes requieren acompañarse del conocimiento, para que así se imite la inteligencia de las aplicaciones.

                
                </p>
                <p class="p-arriba-10 color-blanco texto-justificado">La inteligencia artificial en el conocimiento busca expresar las cosas con ayuda de la generalidad, 
                    de forma que puede encontrarse como:

               
               </p>
    
                <p class="p-arriba-10 color-blanco texto-justificado">
                    <ul class="p-izquierda-30 color-blanco">
                        <li class="p-abajo-10"><b>Entendido por las personas que lo proveen  </b> 
                        </li>
                        <li class="p-abajo-10"><b>Modificado para corregir errores y reflejar cambios ocurridos en el mundo </b> 
                       </li>
                        <li class="p-abajo-10"><b>Utilizarse en muchas situaciones sin ser totalmente exacto o completo</b> 
                        </li>
                        <li class="p-abajo-10"><b>Caracterizarse las técnicas de la IA con independencia al problema a tratar</b> 
                        </li>
                        <li class="p-abajo-10"><b>Utilizarse separando su propio volumen y disminuir el riesgo de probabilidades comúnmente a considerarse</b> 
                        </li>
                    </ul>
                </p> 
                <p class="p-arriba-10 color-blanco texto-justificado">Existen tres tipos de representación básica:

              
               </p> 

               <p class="p-arriba-10 color-blanco texto-justificado">
                <ul class="p-izquierda-30 color-blanco">
                    <li class="p-abajo-10"><b>La representación procedimental es uno de los tres tipos de representación básica utilizados en inteligencia artificial. Esta forma de 
                        representación se utiliza para expresar las interacciones entre fragmentos de conocimiento, pero tiene la desventaja de que es difícil de modificar una vez
                         que se ha creado. Por ejemplo, si un sistema de IA utiliza una representación procedimental para resolver un problema, es posible que no pueda adaptarse 
                         fácilmente a nuevas situaciones o cambios en el mundo.  </b> 
                    </li>
                    <li class="p-abajo-10"><b>La representación declarativa es otro tipo de representación básica utilizada en IA. Esta forma de representación se enfoca en crear 
                        fragmentos de conocimiento que son independientes unos de otros, lo que hace que sean fácilmente modificables. Por ejemplo, si un sistema de IA utiliza una
                         representación declarativa para almacenar información sobre un conjunto de objetos, cada objeto se representará de forma independiente y se podrá modificar 
                         sin afectar a los demás.</b> 
                   </li>
                    <li class="p-abajo-10"><b>Finalmente, la representación mixta o heurística es una combinación de las dos formas de representación anteriores. Esta forma de 
                        representación utiliza tanto la representación procedimental como la declarativa, lo que permite combinar la flexibilidad y adaptabilidad de la 
                         declarativa con la eficiencia y eficacia de la representación procedimental. Esto hace que la representación mixta o heurística sea muy útil en aplicaciones
                          de IA donde se requiere un equilibrio entre estas dos cualidades.</b> 
                    </li>
                </ul>
            </p> 
            <div style="text-align:center;" class="p-arriba-10">
                <img class="ancho-40 alto-40 p-20 borde-blanco"src="../../img/Unidad3Imagen5.jpg" alt="pln2">
            </div> 

            
            <section name="videos"class="d-flex flex-column contenido-principal contenido-temas ancho-100 p-20">
           
                <h2 class="color-amarillo texto-grande p-arriba-30">Videos sobre el tema</h2>
                <p class="p-arriba-10 color-blanco texto-justificado">
                    Aprende más del tema!<br><br>
                </p>

                <div style="text-align:center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gLhPYm43CAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>

                </section>

            </section>
            
            
            <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                <h2 class="color-amarillo texto-enorme p-abajo-30">Pregunta</h2>
                <p class="color-blanco texto-grande texto-justificado">¿Cuál es la función de la representación declarativa?</p>
                <div class="contenedor-respuestas">
                    <div class="mensaje m-arriba-20 color-blanco"></div>
                    <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Expresar las interacciones entre fragmentos de conocimiento, pero tiene la desventaja de que es difícil de modificar una vez que se ha creado.</div>
                    <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Hacer que la representación mixta o heurística sea muy útil en aplicaciones de IA donde se requiere un equilibrio entre estas dos cualidades.</div>
                    <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Crear fragmentos de conocimiento que son independientes unos de otros, lo que hace que sean fácilmente modificables.</div>
                    <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Describir el comportamiento de los sistemas expertos y su capacidad para tomar decisiones basadas en el conocimiento que poseen.</div>
                </div>
            </section>
        
            
            <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
                <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/aspectos_metodologicos/teorema_de_Bayes">
                    <i class="uil uil-previous texto-enorme color-amarillo"></i>
                    <label class="cursor-pointer color-blanco texto-peso-500">Unidad 2</label>
                </a>
                <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/reglas_busquedas/metodos_de_inferencia">
                    <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                    <i class="uil uil-step-forward texto-enorme color-amarillo"></i>
                </a>
            </section>
            
        
        
              
        <!--
        <section name="Fuentes" class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
            <h3 class="color-amarillo p-abajo-20 texto-grande">Referencias</h3>
            <p class="cita" id="fuente4-1">1. (Matich, 2001)</p>
        </section> -->
    </div>

    <!-- <%- include('../componentes/footer.ejs')  %> -->


    <script src="/assets/js/fuentes.js"></script>
    <script src="/assets/js/preguntas.js"></script>

</body>
</html>