<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad III</title>
</head>

<body class="fondo-negro">
    <%- include('../componentes/headerU3.ejs'); %>

        <div class="ancho-100 d-flex flex-column centro-horizontal">
            <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
                <h1 class="color-amarillo texto-enorme p-abajo-30">3. Reglas y Busqueda</h1>

                <h2 class="color-blanco texto-grande">3.5 Semántica de las reglas de producción</h2>
                <h2 class="color-blanco texto-grande p-arriba-30"></h2>
                <div class="p-izquierda-30">
                    <p class="p-arriba-10 color-blanco texto-justificado">La semántica de las reglas de producción es un enfoque procedimental de
                         representación del conocimiento que se enfoca en representar y soportar las relaciones inferenciales del algoritmo. Esto
                          se diferencia de los métodos declarativos, que se basan en hechos. Una regla de producción consta de antecedentes (condiciones)
                           y consecuentes (conclusiones, acciones o hipótesis). Cada regla por sí sola forma un gránulo completo de conocimiento.
                            La inferencia en los sistemas basados en reglas se lleva a cabo mediante el emparejamiento, que puede ser hacia adelante
                             o hacia atrás. 
                         <a class="referencia-amarillo" href="#fuente3-1"
                            onclick="cambiarColor('fuente3-1', 'color-amarillo')">1</a>
                    </p>

                    <div style="text-align:center;" class="p-arriba-10">
                        <img class="ancho-30 alto-30 p-20 borde-blanco" src="../../img/Unidad3Imagen2.jpg" alt="pln2">
                    </div>

                    <section name="videos"class="d-flex flex-column contenido-principal contenido-temas ancho-100 p-20">
           
                        <h2 class="color-amarillo texto-grande p-arriba-30">Videos sobre el tema</h2>
                        <p class="p-arriba-10 color-blanco texto-justificado">
                            Aprende más del tema!<br><br>
                        </p>
        
                        <div style="text-align:center;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/EaTrRICsJiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><br>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y97hAQaqVNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
        
                    </section>

                </div>
                <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
                    <h2 class="color-amarillo texto-enorme p-abajo-30">Pon a prueba tus conocimientos</h2>
                    <p class="color-blanco texto-grande texto-justificado">Selecciona los elementos de una regla de producción</p>
                    <div class="contenedor-respuestas">
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-amarillo')">Condición, hechos o datos, constantes,dimensiones</div>
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-amarillo')">Condición, desarrollo,conclusión,meta</div>
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-amarillo')">Inicio,cuerpo,acción,fin</div>
                        <div class="respuesta amarillo m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Condición,acción,conectores,variables,hechos o datos</div>
                    </div>
                </section>
                <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
                    <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/reglas_busquedas/sintaxis_de_las_reglas">
                        <i class="uil uil-previous texto-enorme color-amarillo"></i>
                        <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
    
                    </a>
                    <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/reglas_busquedas/arquitectura_sistema">
                        <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                        <i class="uil uil-step-forward texto-enorme color-amarillo"></i>
                    </a>
                </section>
    
                <section name="Fuentes"
                    class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
                    <h3 class="color-amarillo p-abajo-20 texto-grande">Referencias</h3>
                    <p class="cita" id="fuente3-1">1. (Reglas, 2017) </p>
                </section>

            </section>
       
        </div>

        <!-- <%- include('../componentes/footer.ejs')  %> -->

        <script src="/assets/js/fuentes.js"></script>
        <script src="/assets/js/preguntas.js"></script>
</body>

</html>