<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad I</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/header.ejs'); %>

    <div class="ancho-100 d-flex flex-column centro-horizontal">
        <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
            <h1 class="color-rosa texto-enorme p-abajo-30">1. Inteligencia Artificial</h1>
    
            <h2 class="color-blanco texto-grande"><span class="color-rosa">1.1.</span> Definición</h2>
            <p class="p-arriba-10 p-abajo-20 color-blanco texto-justificado">
                Según el sitio ComputerWeekly la inteligencia artificial se define como: “La simulación de procesos de inteligencia humana por parte de máquinas, especialmente sistemas informáticos.” <a class="referencia-rosa" href="#fuente1-1" onclick="cambiarColor('fuente1-1', 'color-rosa')" >1</a><br><br>
                Se centra en el desarrollo de algoritmos y sistemas que pueden realizar tareas como el aprendizaje, razonamiento, percepción, comprensión del lenguaje natura y la toma de decisiones, basándose en el procesamiento de grandes cantidades de datos y el uso de algoritmos sofisticados que permiten que las máquinas reconozcan patrones y se adapten a nuevas situaciones.
            </p>

            <div style="text-align:center;">
                <img class="ancho-50 alto-50 p-10 borde-blanco"src="../../img/ia_definicion.jpg" alt="IA">
            </div>

            <h2 class="p-arriba-30 color-blanco texto-grande"><span class="color-rosa">1.2.</span> Historia</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">En el sitio cesce se encuentra un poco sobre la historia de la inteligencia artificial “Aunque los primeros referentes históricos se remontan a los años 30 con Alan Turing, considerado padre de la inteligencia artificial, se considera que el punto de partida es el año 1950, precisamente, cuando Turing publica un artículo con el título «Computing machinery and intelligence» en la revista Mind, donde se hacía la pregunta: ¿pueden las máquinas pensar? y proponía un método para determinar si una máquina puede pensar. Los fundamentos teóricos de la IA se encuentran en el experimento que propone en dicho artículo y que pasó a denominarse Test de Turing, y mediante cuya superación por una máquina se podía considerar que sería capaz de pasar por un humano en una charla ciega… <br><br>
                …numerosos investigadores e historiadores consideran que el punto de partida de la moderna inteligencia artificial fue el año 1956, cuando los padres de la inteligencia artificial moderna, John McCarty, Marvin Misky y Claude Shannon acuñaron formalmente el término durante la conferencia de Darmouth, como: «la ciencia e ingenio de hacer máquinas inteligentes, especialmente programas de cálculo inteligente». La conferencia fue financiada por la Fundación Rockefeller y se llamó Dartmouth Summer Research Project on Artificial Intelligence. <br><br>
                Los últimos cinco años han sido la expansión de la inteligencia artificial (IA) en sectores donde hasta estas fechas no llegaba. Yoshua Bengio -uno de los investigadores más prestigiosos del mundo en el campo de la inteligencia artificial- en su artículo de Aprendizaje Profundo publicado en la revista Scientific American, da como fecha de partida de la explosión de la IA el año 2012, donde se presentaron los primeros productos comerciales que entendían el habla -como el caso de Google Now- y posteriormente aplicaciones que permitían identificar el contenido de una imagen, como hoy incorpora Google Photos.”
                <a class="referencia-rosa" href="#fuente1-2" onclick="cambiarColor('fuente1-2', 'color-rosa')">2</a></p>
        </section>
        <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
            <h2 class="color-rosa texto-enorme p-abajo-30">Pregunta</h2>
            <p class="color-blanco texto-grande texto-justificado">¿Cuál de las siguientes opciones es la definición correcta de Inteligencia Artificial?</p>
            <div class="contenedor-respuestas">
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Tecnologías que simulan el funcionamiento o el comportamiento de la mente humana</div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Inteligencia de origen no humano</div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Computadoras que resuelven tareas</div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-rosa')">Chatbots, o programas de conversación</div>
            </div>
        </section>
        <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex derecha-vertical">
            <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/inteligencia_artificial/habilidades_proceso">
                <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                <i class="uil uil-step-forward texto-enorme color-rosa"></i>
            </a>
        </section>
        <section name="Fuentes" class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
            <h3 class="color-rosa p-abajo-20 texto-grande">Referencias</h3>
            <p class="cita" id="fuente1-1">1. (Rouse, 2021)</p>
            <p class="cita" id="fuente1-2">2. (Breve historia de la inteligencia artificial: el camino hacia la empresa, s. f.)</p>
        </section>
    </div>

    <!-- <%- include('../componentes/footer.ejs')  %> -->

    <script src="/assets/js/fuentes.js"></script>
    <script src="/assets/js/preguntas.js"></script>
</body>
</html>