<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../img/LOGO-rosa.png">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/decoraciones.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/preguntas.css">

    <title>AIuda: Unidad I</title>
</head>
<body class="fondo-negro">
    <%- include('../componentes/header.ejs'); %>

    <div class="ancho-100 d-flex flex-column centro-horizontal">
        <section class="d-flex flex-column contenido-principal contenido-temas d-flex ancho-100 p-50">
            <h1 class="color-rosa texto-enorme p-abajo-30">1. Inteligencia Artificial</h1>
    
            <h2 class="color-blanco texto-grande"><span class="color-rosa">1.8.</span> El modelo del agente inteligente, Sistema Multi Agentes, Sistemas Ubicuos</h2>
            <p class="p-arriba-10 color-blanco texto-justificado">
                Los agentes son entidades que poseen la suficiente autonomía e inteligencia como para poder encargarse de tareas específicas con poca o ninguna supervisión humana.<a class="referencia-rosa" href="#fuente1-1" onclick="cambiarColor('fuente1-1', 'color-rosa')">1</a><br><br>

                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco"src="../../img/agente_inteligente.jpg" alt="ROBOT3">
                </div>
            </p>
            <p class="p-arriba-10 color-blanco texto-justificado">
                Los principales agentes inteligentes, se mencionan a continuación: <br><br>
                <ul class="p-izquierda-20 color-blanco">
                    <li class="p-abajo-10"><span class="texto-peso-500">Agentes reactivos:</span> Responden de manera directa a los estimulos o entradas del entorno.</li>
                    <li class="p-abajo-10"><span class="texto-peso-500">Agentes reactivos basados en modelo:</span> Similares a los agentes reactivos, pero incorporan un modelo interno del mundo que les permite entender el estado actual.</li>
                    <li class="p-abajo-10"><span class="texto-peso-500">Agentes basados en objetivos:</span> Se guían por objetivos específicos para tomar decisiones y realizar acciones.</li>
                    <li class="p-abajo-10"><span class="texto-peso-500">Agentes basados en utilidad:</span> Toman decisiones en función de la utilidad esperada de diferentes opciones o acciones.</li>
                    <li class="p-abajo-10"><span class="texto-peso-500">Agentes que aprenden:</span> Tiene la capacidad de aprender conocimiento y mejorar su rendimiento a través de la experiencia.</li>
                </ul>
            </p>
            <p class="p-arriba-10 color-blanco texto-justificado">
                Los Sistemas Multi-Agente son la técnica más utilizada actualmente de la inteligencia artificial distribuida, son definidos como sistemas complejos constituidos por agentes autónomos con conocimientos específicos en un dominio, capaces de interactuar para realizar tareas orientadas a la consecución de un objetivo común. Otra de las características de este tipo de sistemas es la facilidad de adquisición y procesamiento de información que se encuentra altamente distribuida, lo que se complementa perfectamente con la computación ubicua y los dispositivos móviles.
                <a class="referencia-rosa" href="#fuente1-1" onclick="cambiarColor('fuente1-2', 'color-rosa')">2</a><br><br>
                <div style="text-align:center;">
                    <img class="ancho-50 alto-50 p-10 borde-blanco"src="../../img/adquisicion_conocimiento.jpg" alt="">
                </div>
            </p>
            <p class="p-arriba-10 color-blanco texto-justificado">
                Los sistemas ubicuos fueron definidos por primera vez en el artículo “The Computer for the 21st Century” como una computación robusta y transparente para el usuario la cual permite tener acceso a sistemas desde lugares remotos.
                <a class="referencia-rosa" href="#fuente1-1" onclick="cambiarColor('fuente1-3', 'color-rosa')">3</a><br><br>
                El objetivo de estos dispositivos es ayudar al usuario en el cumplimiento de sus tareas sin atentar a su privacidad y ofrecer interfaces de interacción con los sistemas que sean amigables y fáciles de utilizar, además un sistema ubicuo proporciona mecanismos de enseñanza omnipresentes en donde se ponen a disposición recursos virtuales y electrónicos.
                <a class="referencia-rosa" href="#fuente1-1" onclick="cambiarColor('fuente1-4', 'color-rosa')">4</a><br><br>
            </p>
        </section>
        <section class="d-flex flex-column contenido-temas ancho-100 p-abajo-50 p-derecha-50 p-izquierda-50">
            <h2 class="color-rosa texto-enorme p-abajo-30">Pregunta</h2>
            <p class="color-blanco texto-grande texto-justificado">¿Qué es una agente inteligente?</p>
            <div class="contenedor-respuestas">
                <div class="mensaje m-arriba-20 color-blanco"></div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Personal muy inteligente de algún área en específico</div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Agentes que requieren de supervisión para realizar su trabajo</div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-verde')">Agentes con la suficiente autonomía como para encargarse de tareas específicas sin supervisión</div>
                <div class="respuesta rosa m-arriba-20" onclick="evaluar(event, 'fondo-rojo')">Personas que realizan muchas tareas a la vez</div>
            </div>
        </section>
        <section class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco d-flex f-espacio">
            <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/inteligencia_artificial/modelo_cognoscitivo">
                <i class="uil uil-previous texto-enorme color-rosa"></i>
                <label class="cursor-pointer color-blanco texto-peso-500">Tema anterior</label>
            </a>
            <a class="d-flex centro-horizontal cursor-pointer texto-no-decorado" href="/inteligencia_artificial/papel_heuristica">
                <label class="cursor-pointer color-blanco texto-peso-500">Tema siguiente</label>
                <i class="uil uil-step-forward texto-enorme color-rosa"></i>
            </a>
        </section>
        <section name="Fuentes" class="p-derecha-50 p-izquierda-50 p-abajo-50 ancho-100 contenido-temas color-blanco">
            <h3 class="color-rosa p-abajo-20 texto-grande">Referencias</h3>
            <p class="cita" id="fuente1-1">1. (Wooldridge, 2009)</p>
            <p class="cita" id="fuente1-2">2. (Shoham & Leyton-Brown, 2008)</p>
            <p class="cita" id="fuente1-3">3. (Weiser, 1999)</p>
            <p class="cita" id="fuente1-4">4. (Kinshuk & Sabine, 2012)</p>
        </section> 
    </div>

    <!-- <%- include('../componentes/footer.ejs')  %> -->

    <script src="/assets/js/fuentes.js"></script>
    <script src="/assets/js/preguntas.js"></script>
</body>
</html>